@CHARSET "UTF-8";

#bodyWrap {
	margin: 0 auto;
	width: 100%;
}

#noticeWrap {
	width: 980px;
	height: 37px;
	border-bottom: 2px solid #666666;
}

#rollingDiv {
	display: inline-block;
	width: 860px;
	height: 35px;
	overflow: hidden;
	text-align: left;
	line-height: 6px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.ticker {
	height: auto;
	position: relative;
	list-style: none;
}

.ticker li {
	height: 35px;
}

#noticeIcon {
	display: inline-block;
	position: relative;
	height: 35px;
	margin: 0 15px 0 0;
	padding: 0 0 0 26px;
	background: url(/resources/images/notice/ico_notice.png) no-repeat 1px
		50%;
	color: #333;
	font-size: 15px;
	line-height: 35px;
	top: -13px;
}