@CHARSET "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, ul, ol, dl, li, h1, h3, h4, dl, dt, dd, fieldset, a, a:hover {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 12px;
	text-decoration: none;
	list-style: none;
	color: #666;
}

input, select, img {
	vertical-align: middle;
}

body {
	background-color: #fdfcf0;
	margin: 0;
	padding: 0;
}

#headerWrap {
	width: 100%;
	height: 153px;
	background: url('/resources/images/header/header.png') repeat-x 0 30px;
	z-index: 0;
}

#headerWrap #header {
	width: 980px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

#topmenu {
	width: 210px;
	height: 30px; hidden;
	float: right;
	text-align: right;
	z-index: 100;
}

#topmenu ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#topmenu ul li {
	float: left;
}
/* #topmenu ul li a { text-decoration: none; }  */
#topmenu ul .topmenu01 {
	width: 60px;
	height: 30px;
}

#topmenu ul .topmenu02 {
	width: 59px;
	height: 30px;
}

#topmenu ul .topmenu03 {
	width: 59px;
	height: 30px;
}

#head {
	width: 980px;
	margin: 0 auto;
}

#head h1 {
	width: 223px;
	height: 85px;
	padding: 43px 0 0 22px;
	top: 40px;
	left: 0;
}

#head h2 {
	position: absolute;
	top: 42px;
	left: 50%;
	margin-left: -234px;
	width: 428px;
	text-align: center;
}

#head h2 img {
	vertical-align: middle;
}

#head .gnb {
	position: absolute;
	top: 86px;
	width: 376px;
	overflow: hidden;
	left: 50%;
	margin-left: -234px;
}

#head .gnb li {
	float: left;
}

#head .gnb li a {
	margin: 0 13px;
}