@CHARSET "UTF-8";

#loginFormWarp {
	width: 100%;
	min-height: 400px;
}

#loginWrap {
	width: 980px;
	margin: 0 auto;
	position: relative;
    padding: 30px 30px 0;
    text-align: center;
}

#loginWrap img {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}

#tab-menu {
	width: 541px;
	margin: 0 auto;
	display: inline-block;
	border-bottom: 2px solid gray;
	vertical-align: middle;
}

#tab-on {
	width: 100px;
	height: 31px;
	background: #e71a0f;
	border-radius: 7px 7px 0px 0px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	top: 2px;
	line-height: 31px;
}

#tab-login {
	width: 541px;
	height: 298px;
	display: inline-block;
	margin: 0 auto;
	border-bottom: 2px solid gray;
}

#loginIcon {
	width: 247px;
	height: 100%;
	float: left;
}

#loginIcon img {
	position: relative;
	top: 30%;
}

#loginIcon p {
	padding-top: 70px;
}

#loginCheckForm {
	position: relative;
	top: 30%;
	width: 277px;
	height: 100%;
	float: right;
}

#idForm {
	width: 265px;
	height: 33px;
    background: url('/resources/images/login/sprite_icon.png') 12px -230px no-repeat;
    border: 2px solid #cccccc;
}

#pwForm {
	margin-top: 5px;
	width: 265px;
	height: 33px;
    background: url('/resources/images/login/sprite_icon.png') 12px -261px no-repeat;
    border: 2px solid #cccccc;
}

#idForm input[type="text"] {
	position: relative;
	height: 20px;
	top: 5px;
	border: none;
	background-color: #fdfcf0;
}

#pwForm input[type="password"] {
	position: relative;
	height: 20px;
	top: 5px;
	border: none;
	background-color: #fdfcf0;
}

#loginButton {
    width: 265px;
    height: 36px;
    line-height: 37px;
    left: 0;
    position: static;
    margin-top: 10px;
    padding: 2px;
    background: #e71a0f;
    text-align: center;
}

#loginButton input[type="submit"] {
	display: block;
    width: 265px;
    height: 36px;
    border: 1px solid #f07469;
    color: #f2f0e5;
    font-size: 15px;
    font-family: 'NanumBarunGothicBold';
    background: #e71a0f;
    cursor: pointer;
}