<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.cgv.dao.MovieDao">
	<select id="movieList" resultType="hashmap">
		select * from movie order by m_like desc
	</select>
	
	<select id="movieDetail" parameterType="int" resultType="hashmap">
		select * from movie where m_num = #{value}
	</select>
	
	<update id="likeUp" parameterType="int">
		update movie set m_like = m_like + 1 where m_num = #{value}
	</update>
	
	<update id="likeDown" parameterType="int">
		update movie set m_like = m_like - 1 where m_num = #{value}
	</update>
	
	<select id="likeUpResult" parameterType="int" resultType="int">
		select m_like from movie where m_num = #{value}
	</select>
	
	<select id="stealcutList" parameterType="int" resultType="hashmap">
		select * from stealcut where m_num = #{value}
	</select>
	
	<select id="trailerList" parameterType="int" resultType="hashmap">
		select * from video where m_num = #{value}
	</select>
	
	<select id="theaterList" resultType="hashmap">
		select * from theater order by t_name
	</select>
</mapper>