<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.cgv.dao.MovieDao">
	<!-- movie -->
	<select id="movieList" resultType="hashmap">
		select * from movie order by m_like desc
	</select>
	
	<select id="movieDetail" parameterType="int" resultType="hashmap">
		select * from movie where m_num = #{value}
	</select>
	
	<update id="likeUp" parameterType="int">
		update movie set m_like = m_like + 1 where m_num = #{value}
	</update>
	
	<update id="likeDown" parameterType="int">
		update movie set m_like = m_like - 1 where m_num = #{value}
	</update>
	
	<select id="likeUpResult" parameterType="int" resultType="int">
		select m_like from movie where m_num = #{value}
	</select>
	
	<select id="movieEndTime" parameterType="hashmap" resultType="String">
		select date_format(date_add(time(#{movieStartTime}), interval m_time minute), '%H:%i') from movie where m_num=#{m_num}
	</select>
	
	
	
	<!-- stealcut -->
	<select id="stealcutList" parameterType="int" resultType="hashmap">
		select * from stealcut where m_num = #{value}
	</select>
	
	
	<!-- video -->
	<select id="trailerList" parameterType="int" resultType="hashmap">
		select * from video where m_num = #{value}
	</select>
	
	
	<!-- theater -->
	<select id="theaterList" resultType="hashmap">
		select * from theater order by t_name
	</select>
	
	<select id="getTheater" parameterType="int" resultType="hashmap">
		select * from theater where t_num = #{value}
	</select>
	
	
	<!-- screen -->
	<select id="getScreen" parameterType="int" resultType="hashmap">
		select * from screen where s_num = #{value}
	</select>
	
	
	<!-- movieTime -->
	<select id="movieTimeInfo" parameterType="hashmap" resultType="hashmap">
		select s.*, t.mt_num, t.mt_time, t.mt_date from screen s join movieTime t  
		using(s_num) where s.t_num=#{t_num} and s.m_num=#{m_num} and t.mt_date=#{mt_date}
	</select>
	
	
	<!-- seat -->
	<select id="seatList" parameterType="int" resultType="hashmap">
		select * from seat where s_num = #{value}
	</select>
	
</mapper>