@CHARSET "UTF-8";

#movieDetailWrap {
	margin: 0 auto;
	width: 980px;
	margin-top: 70px;
}

#detailPoster {
	float: left;
	width: 185px;
	height: 260px;
}

#detailContents {
	float: left;
	width: 763px;
	height: 273px;
	margin-left: 30px;
	position: relative;
}

#detailTitle {
	width: 100%;
	height: 44px;
    vertical-align: middle;
}

#detailTitle strong {
	color: #1a1919;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
}

#detailTitle img {
	position: relative;
	margin-left: 20px;
	top: 3px;
}

#detailSpec {
	position: relative;
	width: 715px;
	height: 118px;
	border-top: 1px solid gray;
	padding-top: 18px;
    line-height: 1.6;
    margin-top: 20px;
    color: #1a1919;
    font-weight: bold;
}

#detailLike {
	position: relative;
	width: 100%;
	height: 35px;
	margin-top: 22px;
}

#like {
	cursor: pointer;
}

#like_point {
	position: relative;
	width: 50px;
	height: 25px;
	top: -33px;
	left: 40px;
	text-align: right;
	font-size: 17px;
}

#detail_select {
	clear: both;
	display: inline-block;
	width: 800px;
	height: 41px;
	margin: 40px 0px;
	text-align: center;
}

#detail_select img {
	position: relative;
}

#movieStroy {
	width: 800px;
	min-height: 200px;
	line-height: 1.8;
	padding-top: 15px;
	font-size: 1.2em;
}

#trailer {
	width: 800px;
	height: 258px;
	margin-top: 40px;
}

#trailer h4 {
	float: left;
    margin-left: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -13px;
}

#trailer table {
	width: 100%;
	height: 160px;
	border-spacing: 0;
}

.heading {
	position: relative;
    width: 100%;
    height: 39px;
    background: #e2e0d2;
}

#stealCut {
	width: 800px;
	margin-top: 40px;
}

#stealCut h4 {
	float: left;
    margin-left: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -13px;
}

#stealCut table {
	clear: both;
	width: 100%;
	height: 405px;
	border-spacing: 0;
}

.fotorama {
	width: 727px; 
	height: 405px;
}

#movie-reply {
	width: 932px;
	height: 190px;
	border-bottom: 1px solid gray;
}

#movie-reply-title {
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	font-weight: bold;
	padding: 10px 0px 10px 20px;
}

#movie-reply-byte {
	text-align: right;
	font-size: 15px;
}

#movie-reply-body {
	height: 80px;
}

#movie-reply-iamge {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 80px;
	line-height: 80px;
	float: left;
	text-align: center;
}

#movie-reply-content {
	display: inline-block;
	position: relative;
	width: 770px;
	height: 80px;
	float: right;
	border: 1px solid gray;
}

#reply-content-star {
	display: inline-block;
	position: relative;
	float: left;
	width: 200px;
	height: 80px;
}

#reply-content-content {
	display: inline-block;
	position: relative;
	float: left;
	width: 470px;
	height: 80px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#reply-content-btn {
	display: inline-block;
	position: relative;
	float: right;
	width: 98px;
	height: 80px;
	line-height: 80px;
	background-color: #eee;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#rateYo {
	position: relative;
	top: 10px;
	float: left;
}

#rateNumer {
	float: right;
	position: relative;
	top: 20px;
	font-size: 12px;
}

#rateContent {
	clear: both;
	width: 180px;
	height: 25px;
	line-height: 25px;
	position: relative;
	top: 19px;
	margin: 0 auto;
	text-align: center;
}

#movie-reply-mrList {
	width: 932px;
	margin-top: 30px;
}

.mr-box {
	width: 932px;
	height: 90px;
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
}

.mr-img {
	width: 75px;
	height: 75px;
	margin-left: 35px;
	text-align: center;
	float: left;
}

.mr_userInfo {
	width: 620px;
	height: 25px;
	float: right;
	margin-right: 150px;
}

.mr_userInfo span:nth-child(1) {
	display: inline-block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	float: left;
}

.mr_userInfo span:nth-child(2) {
	display: inline-block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;
	position: relative;
	float: left;
}

.mr_userInfo span:nth-child(3) {
	display: inline-block;
	position: relative;
	float: left;
	top: -5px;
}

.mr_contentInfo {
	clear: both;
	position: relative;
	width: 620px;
	height: 55px;
	border-top: 1px dashed gray;
	top: -43px;
	left: 150px;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0px 0px 10px;
}

.mr_btn1 {
	position: relative;
	width: 70px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background: #ddd;
	top: -140px;
	left: 850px;
	color: red;
	cursor: pointer;
	border: 1px solid #333;
}

.mr_btn2 {
	position: relative;
	width: 70px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background: #ddd;
	top: -140px;
	left: 850px;
	border: 1px solid #333;
}





