@CHARSET "UTF-8";

#movieDetailWrap {
	margin: 0 auto;
	width: 980px;
	margin-top: 70px;
}

#detailPoster {
	float: left;
	width: 185px;
	height: 260px;
}

#detailContents {
	float: left;
	width: 763px;
	height: 273px;
	margin-left: 30px;
	position: relative;
}

#detailTitle {
	width: 100%;
	height: 44px;
    vertical-align: middle;
}

#detailTitle strong {
	color: #1a1919;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
}

#detailTitle img {
	position: relative;
	margin-left: 20px;
	top: 3px;
}

#detailSpec {
	position: relative;
	width: 100%;
	height: 118px;
	border-top: 1px solid gray;
	padding-top: 18px;
    line-height: 1.6;
    margin-top: 20px;
    color: #1a1919;
    font-weight: bold;
}

#detailLike {
	position: relative;
	width: 100%;
	height: 35px;
	margin-top: 22px;
}

#like {
	cursor: pointer;
}

#like_point {
	position: relative;
	width: 50px;
	height: 25px;
	top: -33px;
	left: 40px;
	text-align: right;
	font-size: 17px;
}

#detail_select {
	clear: both;
	display: inline-block;
	width: 800px;
	height: 41px;
	margin: 40px 0px;
	text-align: center;
}

#detail_select img {
	position: relative;
}

#movieStroy {
	width: 800px;
	min-height: 200px;
	line-height: 1.8;
	padding-top: 15px;
	font-size: 1.2em;
}

#trailer {
	width: 800px;
	height: 258px;
	margin-top: 40px;
}

#trailer h4 {
	float: left;
    margin-left: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -13px;
}

#trailer table {
	width: 100%;
	height: 199px;
	border-spacing: 0;
}

.heading {
	position: relative;
    width: 100%;
    height: 39px;
    background: #e2e0d2;
}

#stealCut {
	width: 800px;
	margin-top: 40px;
}

#stealCut h4 {
	float: left;
    margin-left: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -13px;
}

#stealCut table {
	clear: both;
	width: 100%;
	height: 405px;
	border-spacing: 0;
}



