@CHARSET "UTF-8";

#sidemenu {
	width: 230px;
	height: 1200px;
	background-color: #fdfcf0;
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidemenu ul {
	margin-top: 25px;
	margin-left: 0px;
	padding-left: 0px;
}

#sidemenu ul li {
	margin: 0;
	list-style: none;
}

#sidemenu ul li a {
	background: #fdfcf0;
	border-bottom: 2px solid #686667;
	color: #686667;
	display: block;
	margin: 0;
	padding: 20px 0px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

#sidemenu ul li:first-child {
	border-top: 2px solid #686667;
}

#sidemenu a:hover {
	background: #343132;
/* 	background: #215165 url(/resources/images/admin/tri.jpg) no-repeat left; */
/* 	background-size: 40px 100%; */
	color: #fff;
}

