.my-btn {
	width: 73px;
	height: 26px;
	background: url("/resources/images/btn_bg.gif") no-repeat;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.my-btn span {
	text-align: center;
	line-height: 8px;
	font-size: 12px;
	font-weight: bold;
}

.my-btn:HOVER {
	opacity: 0.9;
}