@CHARSET "UTF-8";
body{
	background-color: #333;
}
.popWrap{
	background-color: #333;
	margin: 0 auto;
}
.header{
	background-color: #333;
	border: 1px solid #707070;
	height: 50px;
}
.header > span{
	font-size: 30px;
	color: #f2f0e5;
	padding-left: 20px;
}
.body{
	background-color: #f6f6f4;
	margin-top: 10px;
	height: 620px;
}
.name{
	padding: 40px;
}
.name > span{
	font-size: 25px;
	font-weight: bold;
}
.name > strong{
	font-size: 15px;
	font-weight: bold;
}
.content{
	background-color: #e9e9e8;
	margin: 30px;
	margin-top: 0px;
	height: 470px;
}
.profile_img{
	background: url(/resources/images/join/no_pic.png) no-repeat;
	background-size: 100px 100px;
	display: inline-block;
    position: relative;
    left: 30px;
    width: 135px;
    height: 135px;
    margin: 10px;
    margin-top: 50px;
}
.profile > strong{
	display: inline-block;
	position: relative;
	top: -100px;
	margin-left: 20px;
}
.input_uproad{
	display: inline-block;
	position: relative;
	top: -100px;
	margin-left: 20px;
}
.member_data{
	padding-left: 20px;
}

.member_data input{
	padding: 15px;
}
.profile_text{
	display: inline-block;
	position: relative;
	top: -95px;
	margin-left: 380px;
	font-size: 13px;
}
.submit_btn {
	background-color: #333;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}
.c_btn {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}