@CHARSET "UTF-8";
body{
	background-color: #333;
}
.popWrap{
	background-color: #333;
	margin: 0 auto;
}
.header{
	background-color: #333;
	border: 1px solid #707070;
	height: 50px;
}
.header > span{
	font-size: 30px;
	color: #f2f0e5;
	padding-left: 20px;
}
.body{
	background-color: #f6f6f4;
	margin-top: 10px;
	height: 620px;
}
.name{
	padding: 40px;
}
.name > span{
	font-size: 25px;
	font-weight: bold;
}
.name > strong{
	font-size: 15px;
	font-weight: bold;
}
.content{
	background-color: white;
	margin: 30px;
	margin-top: 0px;
	position: relative;
    top: -30px;
}
.profile_img{
	background: url(/resources/images/join/no_pic.png) no-repeat;
	background-size: 100px 100px;
	display: inline-block;
    position: relative;
    left: 30px;
    width: 135px;
    height: 135px;
    margin: 10px;
    margin-top: 50px;
}
.profile > strong{
	display: inline-block;
	position: relative;
	top: -100px;
	margin-left: 20px;
	background-color: white;
}
.input_uproad{
	display: inline-block;
	position: relative;
	top: -100px;
	margin-left: 20px;
	width: 200px;
}
.member_data{
	padding-left: 20px;
	background-color: white;
}

.member_data input{
}
.profile_text{
	display: inline-block;
	position: relative;
	top: -95px;
	margin-left: 380px;
	font-size: 13px;
}
.submit_btn {
	background-color: #333;
	border: 1px solid #333;
	border-radius: 3px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	width: 50px;
}
.c_btn {
	width: 50px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
}
.member_data_input > div {
	height: 50px;
}
.member_data_input div span{
	display: inline-block;
	width: 150px;
	font-weight: bold;
}
.member_data_input div strong{

	margin-left: 150px;
	font-size: 13px;
	color: #ee6900;
	display: none;
}
.member_data_text{
	height: 30px;
}

.member_email select {
	width: 120px;
	padding: .5em .5em;
	font-family: inherit;
	background-color: white;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	border: 1px solid #999;
	border-radius: 0px; iOS 둥근모서리 제거
	-webkit-appearance: none; 네이티브 외형 감추기
	-moz-appearance: none;
	appearance: none;
}

input{
	width: 100px;
	padding: 5px;
	padding-left: 10px;
}

.deletebtn{
	background-color: #333;
	border: 1px solid #333;
	border-radius: 3px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	width: 60px;
	position: relative;
	left: 400px;
}