@CHARSET "UTF-8";
.myCGVFormWrap{
	background-color: #fdfcf0;
}
.myCGVheard{
	position: relative;
	background: url(/resources/images/myCGV/myCGVheaderBG.gif) no-repeat;
	width: 980px;
	height: 450px;
	margin: 0 auto;
}
.member_img{
	background: url(/resources/images/join/no_pic.png) no-repeat;
	background-size: 135px 135px;
	display: inline-block;
    position: relative;
    left: 70px;
    top: 50px;
    width: 135px;
    height: 135px;
}
.member_context_wrap{
	float: right;
	width: 600px;
	height: 140px;
	position: relative;
	top: 55px;
	margin-right: 70px;
}
.name_text{
	border-bottom: 2px solid #8c7651;
	padding-bottom: 10px;
}
.name_span{
	font-size: 29px;
	font-weight: bold;
	color: #342929;
    font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
}
.id_span{
	font-size: 15px;
	color: #342929;
    font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
}
.point_text{
	padding-top: 20px;
}
.point_span{
	font-size: 20px;
	font-weight: bold;
	color: #342929;
    font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
}
.favoriteTheaters{
	width: 800px;
	height: 100px;
	position: relative;
	top: 150px;
	left: 100px;
}
.theaters{
	margin: 5px;
	float: left;
    width: 109px;
    height: 41px;
	padding: 2px;
    border: 2px solid #7b6746;
}
.theaters_in{
	border: 2px dashed #7b6746;
	height: 37px;
	cursor: pointer;
	color: black;
	font-size: 15px;
	overflow: hidden;
	line-height: 37px;
	text-align: center;
}
.favoriteTheaters_update{
	margin: 5px;
	float: left;
    width: 109px;
    height: 47px;
    border: 2px solid #7b6746;
	
	background-image: url(/resources/images/myCGV/theater_btn_img.png);
    background-position-x: 86px;
    background-position-y: 14px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(59, 52, 37);
}
.favoriteTheaters_update > span{
	display: inline-block;
	text-align: left;
	font-size: 10px;
	color: #dac190;
	font-weight: bold;
	position: relative;
	left: -7px;
	cursor: pointer;
}
.member_data_update_btn{
	border: none;
	position: relative;
	top: 10px;
	left: 50px;
	width: 22px;
    height: 24px;
    zoom: 1;
	background-image: url(/resources/images/movie/sprite_btn.png);
    background-position-x: 0px;
    background-position-y: -218px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.myCGVbody{
	margin: 30px auto;
	clear: both;
	position: relative;

	width: 980px;
	height: 800px;
}
.myCGVbody_type2{
	display: inline-block;
	width: 100%;
	height: 35px;
	border-bottom: 2px solid black;
	font-size: 20px;
	font-weight: bold;
}
.myCGVbody_type2_block{
	border-bottom: 1px solid gray;
	display: inline-block;
	padding-top: 20px;
	width: 100%;
}
.img_box{
	position:relative;
	height: 250px;
	width: 20%;
	float: left;
}
.img_box > a{
	margin: 35px;
}
.contents_box{
	position:relative;
	height: 250px;
	width: 30%;
	float: left;
}
.contents_box_detail > span{
	margin: 5px;
	margin-left: 15px;
}
.contents_box_detail_title{
	margin-bottom: 18px;
    color: #222;
    font-family: 'NanumBarunGothicBold', '맑은 고딕', '돋움', Dotum, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.contents_box_detail dd{
	display: block;
	margin-top: 8px;
}
.contents_box_detail em{
	display: inline-block;
    width: 50px;
	font-style: normal;
}
.detail_box{
	position:relative;
	height: 250px;
	width: 25%;
	float: left;
	margin-left: 80px;
}
.detail_box_div{
	border: 1px dashed gray;
	display: inline-block;
	position: relative;
	margin-top: 5px;
	width: 250px;
	background-color: white;
	padding: 10px;
	padding-top: 30px;	
	padding-bottom: 30px;	
	font-size: 13px;
	
}
.detail_box_div td{
	text-align: right;
	width: 140px;
}
.detail_box_div th, td{
	padding-bottom: 20px;
	padding-top: 20px;
}
.cancle{
	display: inline-block;;
	position: relative;
	top: -30px;
    left: 30px;
    font-size: 15px;
}
.cancle_btn{
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px dashed #555555;
    position: relative;
    left: 300px;
}
.cancle_btn:HOVER{
	background-color: #555555;
    color: white;
}

dl{
	display: block;
}