@CHARSET "UTF-8";

#reserve_Choice_wrap {
	width: 996px;
	height: 530px;
	margin: 0 auto;
	margin-top: 60px;
	border: 2px solid #666;
}

#col-head {
	width: 996px;
	height: 33px;
	line-height: 33px;
    text-align: center;
	background: #333333 url('/resources/images/reserve/titles.png');
    background-repeat: no-repeat;
    background-position: 50% 26.5%;
}

#a_count_type {
	margin-top: 20px;
	margin-left: 20px;
}

#a_count_type img, #b_count_type img {
	margin-right: 5px;
}

#b_count_type {
	margin-top: 10px;
	margin-left: 20px;
}

#seat_type {
	margin-top: 10px;
	margin-left: 50px;
}

.typeSpan {
	display: inline-block;
	width: 50px;
}

#personWrap {
	width: 996px;
	height: 120px;
}

#section-numberofpeople {
	width: 433px;
	height: 116px;
	float: left;
	margin-top: 5px;
	border-right: 1px solid #d4d3c9;
	border-bottom: 2px solid #d4d3c9;
}

#section-screenInfo {
	width: 555px;
	height: 116px;
	float: right;
	margin-top: 5px;
	border-bottom: 2px solid #d4d3c9;
}

#col-screen-step {
	width: 450px;
	height: 80px;
	margin: 17px 0px 0px 40px;
}

#col-screen-step p:nth-child(2) {
	font-weight: bold;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.9em;
}

#screenDiv {
	clear: both;
	width: 866px;
	height: 340px;
	margin: 15px auto;
	padding-top: 20px;
	text-align: center;
}

#screenDiv img {
	margin-right: 2px;
	margin-bottom: 10px;
}

#seat {
	margin: 0 auto;
	margin-top: 25px;
	width: 567px;
	height: 220px;
	text-align: left;
	padding: 20px 0px 0px 25px;
	overflow: auto;
}

#entrance {
	width: 23px;
	height: 23px;
	position: relative;
	top: -260px;
	left: 100px;
	background: url(/resources/images/reserve/reserve_img/seat_icons_new.png) -75px -50px no-repeat;
}

#reserve-info-icon {
	width: 105px;
	height: 50px;
	position: relative;
	top: -250px;
	left: 750px;
}

#ri_icon1, #ri_icon2 {
	width: 100px;
	height: 20px;
	line-height: 20px;
	text-align: left;
	padding: 4px;
}


#ri_icon1 span {
	width: 15px;
	height: 16px;
	display: inline-block;
	background: url(/resources/images/reserve/reserve_img/seat_icons_new.png) 0px 0px no-repeat;
}

#ri_icon2 span {
	width: 15px;
	height: 16px;
	display: inline-block;
	background: #bbb url(/resources/images/reserve/reserve_img/seat_icons_new.png) -25px 0px no-repeat;
}

#reserve-info-icon b {
	margin-left: 10px;
	position: relative;
	top: -4px;
}

#tnb-container {
	width: 100%;
    min-width: 996px;
    height: 128px;
    background-color: #1d1d1c;
}

#tnb-area{
	width: 995px;
	height: 107px;
	padding: 10px 0;
    position: relative;
	margin: 0 auto;
}

#btn-left {
	display: inline-block;
	width: 106px;
	height: 108px;
	background: url(/resources/images/reserve/tnb_buttons.png) no-repeat;
    background-position: 0 0;
    float: left;
    margin-right: 24px;
}

#tnb-movie-step {
	float: left;
	width: 74px;
    height: 108px;
    padding-right: 2px;
    position: relative;
    color: #cccccc;
    line-height: 108px;
}

#tnb-movie-step2 {
	float: left;
	width: 130;
    height: 108px;
    position: relative;
    background: url(/resources/images/reserve/split.png) no-repeat right;
    color: #cccccc;
    font-size: 12px;
}

#tnb-movie-step2 div {
	width: 120px;
	height: 52px;
	line-height: 52px;
	margin-left: 9px;
	font-weight: bold;
	overflow: hidden;
}

#tnb-theater-step {
	width: 187px;
	height: 108px;
	float: left;
	padding-right: 2px;
    background: url(/resources/images/reserve/split.png) no-repeat right;
    position: relative;
    color: #cccccc;
    font-size: 12px;
}

#tnb-theater-step div {
	width: 180px;
	height: 25px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 7px;
}

#tnb-theater-step span {
	display: inline-block;
	width: 45px;
	font-weight: normal;
}

#tnb-placeholder {
	float: left;
	width: 168px;
    height: 108px;
    background: url('/resources/images/reserve/tnb_steps.png') no-repeat 50% -180px;
}

#lineBlock {
	position: relative;
	width: 5px;
	height: 108px;
	float: right;
	background: url(/resources/images/reserve/split.png) no-repeat right;
}

#paymentInfo {
	width: 165px;
	height: 108px;
	float: left;
	right: 110px;
}

#btn_right {
	width: 106px;
	height: 108px;
	background: url(/resources/images/reserve/tnb_buttons.png) no-repeat 0 -330px;
    float: right;
    cursor: default;
}









